body {
    background-color: orange; /* Fondo naranja */
    color: white; /* Letras blancas */
}

.header {
    margin-right: 20px; /* Margen derecho para la imagen */
}

/* Estilo para la imagen en el margen derecho */
.imagening {
    float: right;
    margin-right: 20px;
}

/* Estilo para el botón de llamada a la acción */
.cta-button {
    background-color: white;
    color: orange;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}

/* Estilos para los encabezados */
h1, h2 {
    color: white; /* Letras blancas */
}

/* Estilos para los enlaces de navegación */
nav ul li a {
    color: white; /* Letras blancas */
    text-decoration: none;
}

/* Estilos para el pie de página */
footer {
    background-color: orange; /* Fondo naranja */
    color: white; /* Letras blancas */
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
