/* Resetear estilos por defecto del navegador */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #FF5E33;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    background: #f4f4f4;
    text-align: center;
    padding: 2rem;
}

.cta-button {
    display: inline-block;
    background: #FF5E33;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    margin-top: 1rem;
}

.about {
    padding: 2rem;
    background: #e0e0e0;
}

footer {
    background-color: #FF5E33;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.contenido {
    padding: 50px;
    text-align: left;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.contenido img {
    max-width: 50%; 
.imagening {
    float: right; /* Coloca la imagen a la derecha */
    margin-left: 20px; /* Establece un margen izquierdo para separar la imagen del contenido */
}

}
