/* Resetear estilos por defecto del navegador */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #FFFFFF;
    color: black;
    padding: 1rem;
    text-align: center;
}

header h1 {
    color: black; 
    
}
header h2 {
    text-align: center;
}
header h3 {
    text-align: left;
}
nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: black; 
    text-decoration: none;
}

.hero {
    background: #f4f4f4;
    text-align: center;
    padding: 2rem;
}

.cta-button {
    display: inline-block;
    background: #FF5E33;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    margin-top: 1rem;
}

.about {
    padding: 2rem;
    background: #e0e0e0;
    text-align: center;
}

footer {
    background-color: #FF5E33;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.contenido {
    padding: 50px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: left;
}

.contenido .imagenU {
    float: left;
    margin-right: 20px; 
}

.contenido .imagening {
    float: right;
    margin-left: 20px; 
}

.contenido img {
    max-width: 50%;
}
